*{
box-sizing: border-box;
font-family: 'Agency FB', sans-serif;
    text-decoration: none;
}
body{
    background-image:url(burger.avif) ;
    background-repeat: no-repeat;
    background-size: 100% 800px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 80px;
}
header nav .menu{
display: flex;
align-items: center;
}
nav .menu a{
    color:black;
    margin-left: 35px;
    position: relative;
 font-size:35px ;
font-weight: bold;
 padding: 20px;
   
}
nav .menu a:hover{
    color:white;
    background-color: #b8bbc0;
    border-radius: 35px;
    transition: 0.9s linear;
}
nav .icon a i{
    color: black;
    margin-left:40px ;
    font-size: 29px;
}
nav .icon a i:hover{
    color:blue;

}
.pic{
    width: 140px;
    height: 90px;
    margin-top:20px;
    margin-right:80px;

}
.fish{
position: absolute;
top: 30%;
left: 2%;
}
.writ{
font-size: 35px;
color: #cc6c5c; 
font-weight: 700;
}
.btn{
margin-left: 20px;
border-color: red;
border-style: groove;
color:teal;
}
.btn:hover{
    color: azure;
    background-color: #cc6c5c;
}